fint:
  application-id: fint-flyt-mapping-service
  flyt:
    mapping-service:
      kafka:
        request-reply:
          reply-timeout: "5s"
          reply-retention-time: "5m"
        event:
          instance-processing-events-retention-time: "4d"
  cache:
    defaultCacheEntryTimeToLiveMillis: 518400000
    defaultCacheHeapSize: 1000000
logging:
  level:
    no.fintlabs.cache.ehcache.FintEhCacheEventLogger: WARN
spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
