fint:
  application-id: fint-flyt-mapping-service

novari:
  flyt:
    mapping-service:
      kafka:
        request-reply:
          reply-timeout: "5s"
          reply-retention-time: "5m"
        event:
          instance-processing-events-retention-time: "4d"

logging:
  level:
    no.novari.cache.ehcache.FintEhCacheEventLogger: WARN

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging

  output:
    ansi:
      enabled: always
