apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: innlandetfylke-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-value-mapping-service_innlandetfylke_no
      fintlabs.no/org-id: innlandetfylke.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "innlandetfylke-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "innlandetfylke.no"
      - op: replace
        path: "/spec/env/1/value"
        value: "innlandetfylke-no"
    target:
      kind: Application
      name: fint-flyt-mapping-service

