apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ffk-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-value-mapping-service_ffk_no
      fintlabs.no/org-id: ffk.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "ffk-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "ffk.no"
      - op: replace
        path: "/spec/env/1/value"
        value: "ffk-no"
    target:
      kind: Application
      name: fint-flyt-mapping-service

